- content_for :css do
  = stylesheet_link_tag 'statistics', 'form'
#main-content.wide
  #align
    .bloc
      .header 
        %h1 Statistiques
      .content
        .row
          %h2 Nombre de participants par semaine
          .graph
            -#= Gchart.sparkline(:size => '500x200', :format => 'image_tag', :data => [@participations, [@average,@average]], :theme => :thirty7signals, :legend => ['par semaine', "moyenne: #{"%.2f" % @average}"], :axis_with_labels => 'x,y', :max_value => @weeks.max, :axis_labels => [@weeks, @x_axis])
            = Gchart.sparkline(:data => [@participations, [@average,@average]], :format => 'image_tag', :size => '700x300', :theme => :thirty7signals, :legend => ['par semaine', "moyenne: #{"%.2f" % @average}"], :axis_with_labels => 'x,y', :axis_labels => [@weeks, @x_axis])
        .row
          %h2 Les chauffeurs
          .graph
            = Gchart.pie_3d(:size => '500x200', :format => 'image_tag', :data => @pieceofpie, :labels => @drivers)
        .row
          %h2 Kebab of fame
          %table
            %tr
              %th Nom
              %th Nombre de participations
            - for fame in @fames
              %tr
                %td
                  = fame[0]
                %td
                  = fame[1]
    .bloc-bottom