- content_for :css do
  = stylesheet_link_tag 'add_edit_kebab', 'form'
- nested_form_for(@kebab, :html => {:class => 'form'}) do |f|
  .row
    #date
      = f.label :date
      %br
      = f.date_select :date
    #promoter
      - f.fields_for :promoter do |builder|
        = builder.label :promoter_id, "Organisateur"
        %br
        = select 'kebab', 'promoter_id', Person.all.collect{|person| [person.name, person.id]}
  .row
    #transportations
      = f.label :person_id, "Voiture(s)" 
      %br      
      .fields
        - f.fields_for :transportations do |builder|
          = builder.collection_select :person_id, Person.all, :id, :name, {:multiple => true}, {:class => 'nice_select'}
          = builder.link_to_remove 'effacer'
        = f.link_to_add "ajouter", :transportations
    #participations
      = f.label :person_id, "Participants"
      %br
      .fields
        - f.fields_for :participations do |builder|
          = builder.collection_select :person_id, Person.all, :id, :name, {:multiple => true}
          = builder.link_to_remove 'effacer'
        = f.link_to_add "ajouter", :participations
  .row
    #comment
      = f.label :comment, 'Commentaires'
      %br
      = f.text_area :comment
  .buttons
    = f.submit button_label
    = link_to 'annuler', kebabs_path, :class => 'cancel'
    

