- content_for :css do
  = stylesheet_link_tag 'add_edit_kebab', 'form'
- nested_form_for(@kebab, :html => {:class => 'form'}) do |f|
  .row
    #date
      = f.label :date
      %br
      = f.date_select(:date, :order => [:day, :month, :year], :start_year => 2010, :use_month_numbers => true)
    #promoter
      - f.fields_for :promoter do |builder|
        = builder.label :promoter_id, "Organisateur"
        %br
        = select 'kebab', 'promoter_id', @people.collect{|person| [person.name, person.id]}
  .row
    #transportations
      = f.label :person_id, "Voiture(s)" 
      %br      
      .fields
        - f.fields_for :transportations do |builder|
          = builder.collection_select :person_id, @people, :id, :name, {:multiple => true}
          = builder.link_to_remove 'effacer'
        = f.link_to_add "ajouter", :transportations
    #participations
      = f.label :person_id, "Participants"
      %br
      .fields
        - f.fields_for :participations do |builder|
          = builder.collection_select :person_id, @people, :id, :name, {:multiple => true}
          = builder.link_to_remove 'effacer'
        = f.link_to_add "ajouter", :participations
  .row
    #comments
      %label
        Commentaires
      %br
      - @kebab.comments.each do |comment|
        - unless comment.new_record?
          .comment
            .author
              = "Ecrit par #{comment.user.email}" unless comment.new_record?
            .comment-content
              =h comment.content
    #new-comment 
      %label
        Ajouter un commentaire
      %br
      = text_area_tag 'kebab[comments_attributes[0[content]]]'
      = hidden_field_tag 'kebab[comments_attributes[0[user_id]]]', current_user.id
  .buttons
    = f.submit button_label
    = link_to 'annuler', kebabs_path, :class => 'cancel'
    

