<% form_for(@kebab) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </p>
  <% f.fields_for :promoter do |builder| %>
    <p>
      <%= builder.label :promoter_id, "Organisateur" %><br />
      <%= select 'kebab', 'promoter_id', Person.all.collect{|person| [person.name, person.id]}%>
    </p>
  <% end %>
  <% f.fields_for :transportations do |builder| %>
    <p>
      <%= builder.label :person_id, "Voiture" %><br />
      <%= builder.collection_select :person_id, Person.all, :id, :name, {:multiple => true}%>
    </p>
  <% end %>
  <% f.fields_for :participations do |builder| %>
    <p>
      <%= builder.label :person_id, "Participant" %><br />
      <%= builder.collection_select :person_id, Person.all, :id, :name, {:multiple => true}%>
    </p>
  <% end %>
  <p>
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

