#main-content.small
  #align
    .bloc
      .header 
        %h1 Listing kebabs
      .content
        %table
          %tr
            %th
              Date
            %th
              Infos
            %th
          - @kebabs.each do |kebab|
            %tr
              %td
                = link_to kebab.date.strftime('%d/%m/%Y'), edit_kebab_path(kebab)
              %td
                = kebab.comments.size
                Commentaire(s)
                -#= link_to truncate(kebab.comment, :length => 30), edit_kebab_path(kebab)
              %td
                = link_to 'Effacer', kebab, :confirm => 'Etes vous sure?', :method => :delete
    .bloc-bottom
    #iphone
      %div
        %img{:src => 'images/IMG_0518.PNG'}
      %div
        %img{:src => 'images/IMG_0519.PNG'}
#sidebar
  .bloc
    %h2 Actions
    .verybigrow
      = link_to 'Ajouter un kebab', new_kebab_path, :class => 'awesome small green'
    %h2 Dernières mises à jour
    %p
      5 aout - un nom de domaine 
      %a{:href => 'http://www.kebab-board.be'}
        www.kebab-board.be  
    %p
      6 juin - version iphone du kebab board
    %p
      7 fevrier - Pour chaque commentaire, ajout du 
      = link_to 'gravatar', 'http://www.gravatar.com'
      de l'auteur.
    %p
      7 fevrier - Ajout du 'kebab of fame' dans les statistiques.
