%h2
  Details
%ul
  %li.sep
    = "Date: #{@kebab.date.strftime('%d/%m/%Y')}"
  %li
    = "Organisateur: #{@kebab.promoter.name}"


%h2
  Commentaires

%ul     
  - @kebab.comments.each do |comment|
    - unless comment.new_record?
      %li
        %table{ :id => 'comments'}
          %tr
            %td.avatar
              = image_tag comment.user.gravatar_url(:size => 50)
            %td.comment
              = "Ecrit par #{comment.user.email}" unless comment.new_record?
              %br
              =h comment.content