!!! Strict
%html
  %head
    %title The kebab board
    = stylesheet_link_tag 'wrapper', 'header', 'tab', 'global', 'awesome-button', 'table'
    = ajaxful_rating_style
    = yield :css 
    = javascript_include_tag :defaults, 'nested_form', 'application'
    = yield :javascript
  %body
    #center
      - if display_mobile_links?
        - if mobile_device?  
          = link_to "Full Site", :mobile => 0  
        - else
          = link_to "Mobile Site", :mobile => 1
      #header
        = render :partial => 'shared/links'
        %h1 
          The kebab board
        = render :partial => 'shared/tabs'
        .clear
      #wrapper
        = yield
        = render :partial => 'shared/footer'
        .clear
      .clear
    - if !mobile_device?
      %a{ :href => "http://github.com/denisjacquemin/kebab_board" }
        %img{ :style => "position: absolute; top: 0; left: 0; border: 0; z-index: 100;",  :src => "http://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png",  :alt => "Fork me on GitHub" }
