!!! Strict
%html
  %head
    %title The kebab board
    = stylesheet_link_tag 'wrapper', 'header', 'tab', 'global', 'awesome-button', 'table'
    = yield :css 
    = javascript_include_tag :defaults, 'nested_form', 'application'
    = yield :javascript
  %body
    #center
      #header
        = render :partial => 'shared/links'
        %h1 
          The kebab board
        = render :partial => 'shared/tabs'
        .clear
      #wrapper
        = yield
        = render :partial => 'shared/footer'
        .clear
      .clear